<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EmbeddedFramework.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Logger.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9D35F95024AE1E8400ED3B79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D35F96B24AE1E8600ED3B79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D35F97624AE1E8600ED3B79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D3C04DE24AE22690004A27E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
